Resources/Private/Schemas/Sdbreadcrumb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://typo3.org/ns/Brotkrueml/Sdbreadcrumb/ViewHelpers"><xsd:element name="breadcrumbMarkup"><xsd:annotation><xsd:documentation><![CDATA[ViewHelper to render breadcrumb markup as json-ld]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute type="xsd:string" name="breadcrumb" use="required"><xsd:annotation><xsd:documentation><![CDATA[The breadcrumb generated by the MenuProcessor or an equivalent data structure]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="stripFirstItem"><xsd:annotation><xsd:documentation><![CDATA[Strips off the first item of the breadcrumb, normally the start page]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element></xsd:schema>